body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: white;
  padding: 35px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #d00;
  color:black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
